/* || General styles */
html {
    /*background-color: #f6f5e1;*/
    background-image: url("https://raw.githubusercontent.com/pg803/pg803.github.io/main/Images/astro-background.jpg");
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

h2 {font-size: 2rem; color:white}

li, p {line-height: 1.5; color: white;}

img {max-width: 100%;}

a {color: white; text-decoration: underline wavy turquoise;}

/**/
h1,h2 {
    font-size: 80px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
}

.post {
    display: grid;
    max-width: 1000px;
    margin: 200px auto;
    grid-gap: 10px 50px;
    grid-template-columns: 5fr 12fr 5fr;
}

.post>* {grid-column: 2 / -2;}

.post>figure {margin: 0;grid-column: 1 / -1;}

figcaption {font-size: 10px;}

.tip-right {
    grid-column: span 1 / -1;
    border-top: 2px solid turquoise;
    font-size: 20px;
    color:white;
}

.capt {font-style: italic;font-size: 15px;}

h3 {
    font-size: 30px;
    color: white;
    font-style: italic;
    font-weight: light;
}

h4 {font-style: italic; color: white;}

.test3{
    position: absolute;
    font-size: 15px;
    /*grid-column: span 1 / -1;*/
    right:-800px;
    color:white;
}

/*.test3:hover{
    position: absolute;
    transition-duration: 0.5s;
    right:0;
    font-size: 15px;
    color:white;
    /*grid-column: span 1 / -1;}*/


.parent{
    background-color: rgb(48, 62, 63);
    position: absolute;
    right:-80px;
    position: fixed;
    right: -150px;
    border-radius: 10px 10px 10px 10px;
    /*border-top: 4px solid turquoise;*/
    padding-left: 50px;
    padding-right: 5px;
    font-size: 15px;
    color:white;
    /*grid-column: span 1 / -1;*/
}

.parent:hover{
    transition-duration: 0.5s;
    right:0;
}