/* || General styles*/
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

body {
  background-image: url("/images/astro-background.jpg");
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

h2 {
  font-size: 2rem;
}

ul,ol,dl,p {
  font-size: 1.5rem;
}

footer {
  background-color: #fffdd0;
  font-weight: 600;
}
    
/*navbar*/   
.topnav {
  overflow: hidden;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
    
.topnav a {
  height: 50px;
  transition-duration: 0.4s;
  float: left;
  display: block;
  font-weight: bold;
  color: rgb(92, 158, 149);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
    
.topnav a:hover {
  transition-duration: 0.4s;
  color: white;
}
    
.topnav .icon {display: none;}

nav a:hover::before {width: 100%;}

nav a:hover {color: #000;}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

#navlogo {
  width: 100px;
  height: 100px;
  text-align: center;
  position: relative;
  top: -40px;
}
    
 @media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
}
}
    
@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
}

/* || Other styles*/
h1 {
  font-weight: 800;
  font-size: xxx-large;
}