/* || General styles */
html {
  background-color: #020617;
  font-size: 100%;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

body {
  font-family: "Poppins";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 700;
}

h1 {
  font-size: 4.9rem; /* 90.4px */
}

h2 {
  font-size: 3.997rem; /* 64px */
}

h3 {
  font-size: 2.827rem; /* 45.28px */
}

h4 {
  font-size: 1.999rem; /* 32px */
  text-align: left;
}

p,
ul,
li,
i {
  font-size: 1.414rem; /* 22.56px */
}

small {
  font-size: 0.707rem; /* 11.36px */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

li,
p {
  line-height: 1.5;
}

a {
  color: white;
  text-decoration: underline turquoise;
}

b {
  color: white;
}

i {
  font-size: 1.6rem;
  color: #99a0ac;
}

/**/

.post {
  border-radius: 25px;
  max-width: 1000px;
  margin: 200px auto;
  margin-top: 0;
  background-color: #0f172a;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #99a0ac;
}

.capt {
  font-style: italic;
  font-size: 15px;
  color: rgba(7, 224, 197, 255);
  font-style: normal;
}

.parent {
  background-color: #c9cff8;
  color: blue !important;
  right: -0.1px;
  position: fixed;
  border-radius: 10px 10px 10px 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  color: white;
  height: 24px;
  transform: translateY(428px);
}

.parent:hover {
  transition-duration: 0.5s;
  right: 0;
}

img {
  width: 100%;
  height: auto;
}

.post .ul2 li {
  width: 470px;
  transform: translateX(210px);
}

.post figure img {
  display: inline-block;
  width: 119% !important;
  transform: translateX(-87px) translateY(0px);
  border-radius: 0.5rem;
}

.post .capt {
  transform: translateX(0px) translateY(-50px);
}

blockquote,
blockquote::before {
  color: #999;
}

blockquote {
  margin: 0px 0px 20px 0px;
  padding: 40px 40px 20px 50px;
}

blockquote::before {
  content: "\201C";
  display: block;
  font-size: 30px;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px;
}
