/* || General styles */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Play:wght@400;700&display=swap');


:root{
  --text: #f0faf0;
  --background: #0f172a;
  --primary: #98ddbc;
  --secondary: #020617;
  --accent: #3bacb0;
}

html {
  background-color: var(--secondary);
  font-size: 100%;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Mono";
  font-weight: 400;
}

h1,h2,h3,h4,h5 {
  font-family: "IBM Plex Mono";
  font-weight: 700;
}

h1 {font-size: 4.9rem; /* 90.4px */}

h2 {font-size: 3.997rem; /* 64px */}

h3 {font-size: 2.827rem; /* 45.28px */}

h4 {font-size: 1.999rem; /* 32px */ text-align: left;}

p,ul,li,i {font-size: 1.414rem; /* 22.56px */}

small {font-size: 0.707rem; /* 11.36px */}

@keyframes fadeInAnimation {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

li,p {line-height: 1.5;}

a {color: var(--text);text-decoration: underline turquoise;}

a:hover{
  color: var(--text);
  background-color: rgb(51, 59, 59);
  text-decoration: underline turquoise;
}

b {color: var(--text);}

i {font-size: 1.6rem;color: #99a0ac;}

/**/

.post {
  border-radius: 25px;
  max-width: 1000px;
  margin: 200px auto;
  margin-top: 0;
  background-color: var(--background);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #99a0ac;
}

.capt {
  font-style: italic;
  font-size: 15px;
  color: rgba(7, 224, 197, 255);
  font-style: normal;
}

.parent {
  background-color: #c9cff8;
  color: blue !important;
  right: -0.1px;
  position: fixed;
  border-radius: 10px 10px 10px 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  color: white;
  height: 24px;
  transform: translateY(428px);
}

.parent:hover {
  transition-duration: 0.5s;
  right: 0;
}

img {
  width: 100%;
  height: auto;
}

.post .ul2 li {
  width: 470px;
  transform: translateX(210px);
}

.post figure img {
  display: inline-block;
  width: 119% !important;
  transform: translateX(-87px) translateY(0px);
  border-radius: 0.5rem;
}

@media screen and (max-width: 600px){
  .post figure img{
    display: inline-block!important;
    width: 119%!important;
    transform: translateX(-27px)translateY(0px);
    border-radius: 0.5rem;
  }  
}

.post .capt {transform: translateX(0px) translateY(-50px);}

blockquote,
blockquote::before {
  color: #999;
}

blockquote {
  margin: 0px 0px 20px 0px;
  padding: 40px 40px 20px 50px;
}

blockquote::before {
  content: "\201C";
  display: block;
  font-size: 30px;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px;
}

.subtitle{
  font-size: 15px;
  transform: translateX(20px)translateY(-20px);
  font-style: italic;
}

.small{
  width: 50%!important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}