html {
  font-family: "IBM Plex Mono", monospace;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: 0;
}

.grid-item {
  color: black;
  width: 22.7px;
  height: 22px;
}

.grid-item:hover {background-color: gray;}

.btn {
  background-color: #1a374c;
  color: white;
  padding: 10px;
  letter-spacing: 1px;
  transition: all 0.3s linear;
  border: 2px solid black;
  cursor: pointer;
}

.btn:hover {
  color: #1a374c;
  background: hsl(205, 86%, 81%);
  border-color: hsl(205, 86%, 81%);
}
