/* || General styles*/
html {font-family: "IBM Plex Mono", monospace; font-size: 15px;}

body {
  background: url(/Images/test.jpeg) fixed center no-repeat;
  background-size: 1500px;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  color: white;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow-x: hidden;
}

@keyframes fadeInAnimation {0% {opacity: 0;}100% {opacity: 1;}}

h2 {font-size: 2rem;}

a {color: white;text-decoration: none;}

#blog:link {color: #57d4cc!important;}

#blog:visited {color: #40b1a9!important;}

#blog:hover{color:#20cfc4!important;}

::-webkit-scrollbar {width: 10px;}

::-webkit-scrollbar-track {background: #f1f1f1;}
 
::-webkit-scrollbar-thumb {background: #888; }
    
/*navbar*/   
.topnav {
  color:#26292a;
  overflow: hidden;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.topnav a {
  height: 50px;
  transition-duration: 0.4s;
  float: left;
  display: block;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  backdrop-filter: blur(15px);
}

.topnav a:hover {transition-duration: 0.4s; color:white;transform: translateX(0px)
  translateY(-7px);}
    
.topnav .icon {display: none;}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  opacity: 7;
  z-index:1
}

.updown{
  color:rgb(92, 158, 149) !important;
  font-size: 30px !important;
  animation: updown 1.5s ease infinite;
}

.updown:hover{color:red !important;}

.updown2{
  color:rgb(92, 158, 149) !important;
  font-size: 30px !important;
  animation: 3s updown 1s infinite;
}

@keyframes updown {
  0% {transform: translateY(-2%);}
  50% {transform: translateY(2%);}
  100% {transform: translateY(-2%);}
}

nav a:hover {color: gray!important;;}

nav a::before {
  color:#979898;
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.linkies{
  position: relative;
  top:-10px;
  display: block;
  visibility: visible;
  animation: fadeInAnimation ease 1.5s;
}

#linkies p{padding-top: 20px;}
    
 @media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
}
}
    
@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  background-color: rgb(35, 37, 37, 0.75);
  float: none;
  display: block;
  text-align: left;
}
}

#myTopnav nav h3{position: relative;left: 400px;}

#myTopnav nav{height: 68px}

#para1{
  position: absolute;
  right: 50px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  z-index: 1;
}

/* Responive styles */
@media screen and (max-width: 1000px) {
  .card{
    transform: scale(0.8)!important;
  }
  #heading{
    left: 150px!important;
    width: 0px!important;
    box-shadow: 0 0 20px rgba(0,139,253,0.25)!important;
  }
  #paragraphs{
    display: inline;
    color:white;
    font-size: 1.2rem;
    line-height: 1.5rem;
    position: inherit!important;
    vertical-align: -50px;
    text-align: center!important;
    box-shadow: none !important;
    width: 0px!important;
  }
  #picof{
    vertical-align: -300px;
    transform: translateX(-350px)!important;
  }
  .quote-box{
    margin-left: 0px!important;
    margin-right: 0px!important;
    padding: 0px!important;
    border-radius: 20px!important;
  }
  img {width: 50%;height: auto;}
}

/* || Page text styles*/
#heading {font-weight: 800;left: 20px;width: 676px;font-family: "IBM Plex Mono", monospace;}

#subheading{line-height: 5em;transform: translateY(-50px);}

#blogs {
  background-color: #4f46e5;
  border: none;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  left: 20px;
  position:absolute;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  font-size: 13px;
  transition-duration: 0.4s;
  display: inline-block;
}

#paragraphs{
  display: inline;
  color:white;
  font-size: 1.2rem;
  line-height: 1.5rem;
  position: absolute;
  left: 20px;
  vertical-align: -50px;
  text-align: center!important;
  box-shadow: none !important;
  width: 714px;
}

#picof{position: relative; top: -113px; left: 350px;}

footer{
  position: fixed;
  bottom: 0px;
  padding: 30px;
  color: #A49C90;
  z-index: 1;
}

h1,h2{
  position: relative;
  width: 92%;
  left: 4%;
  padding: 10px 0;
  font-family: "IBM Plex Mono", monospace!important;
  color: rgba(7,224,197,255);
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  border-radius: 2px;
  /*box-shadow: 0 0 20px rgba(7,224,197,255);*/
  margin-bottom: 34px;
  margin-top: 34px;
  transform: translateY(10px);
}

.special{
  border-width: 0px;
  font-size: 33px;
  line-height: 37.4px;
  box-shadow: 0px 12px 23px -18px rgba(7,224,197,255);
}

.quote-box{
  background-color: rgba(34, 38, 38, 0.5);
  box-shadow: 0 0 7px rgba(7,224,197,255);
  margin-top: 120px;
  margin-left: 337px;
  margin-right: 337px;
  padding: 50px;
  border-radius: 20px;
}

/* Blog */
.card {
  background-color: rgba(34, 38, 38, 0.5);
  color: white!important;
  padding: 20px;
  margin-top: 20px;
  margin-left: 15px;
  width: 350px;
  border-radius: 2.14rem;
  font-size: 10px;
  text-align: left;
  transform: translateY(-50px);
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 21px;
  width: 25%;
  position: relative;
  transition: transform 0.5s ease-in-out;
  border: 2px solid black;
}

.card:hover{
  box-shadow: -5px 5px teal, 
  -5px 5px 0px 3px black;
  transform: translate(50px, 5px)!important;
}
  
.content{font-size:1rem;color:gray;margin-left: 25px;}

.inner{display: flex;}

.inner .card .content .date {
  position: relative;
  top: 4px;
  left: -25px;
}

.text{
  color:rgba(7,224,197,255);
  font-weight: 500;
  font-size: 0.75rem;
  margin-left: 25px;
}

.date{
  color:rgba(253, 45, 120, 1);
  font-weight:500;
  font-size:0.75rem;
  margin-left:25px;
}

.link {
  border: none;
  color: rgba(7,224,197,255);
  position: unset;
  font-size: xx-large;
  transition-duration: 0.4s;
  display: inline-block;
  font-size: 20px
}

/* || Some more other styles */
button,input{color:black;}

.center{transform: translateX(0px)
  translateY(73px);}

.test2{font-size: 20px;}

.btn {
  text-transform: uppercase;
  background: #49a6e9;
  color: hsl(205, 86%, 17%);
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid #49a6e9;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.btn:hover {
  color: #49a6e9;
  background: hsl(205, 86%, 81%);
  border-color: hsl(205, 86%, 81%);
}

.parent .card{
  transform: translateX(38px)translateY(27px);
  min-height: 203px;
}

.fadein1{
  -webkit-animation: fadein1 1.2s both;
  -moz-animation: fadein1 1.2s both;
  -o-animation: fadein1 1.2s both;
  animation: fadein1 1.2s both; 
}

.background{height: 608px;}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 2.14rem;
  border-top-right-radius: 2.14rem;
}

.card .link{
  text-align: center;
  margin: 0;
  padding: 10px;
}

.inner div a{transform: translateX(-37px)translateY(100px);}


.inner div .date{transform: translateY(85px);}

@-webkit-keyframes fadein1{0%{opacity: 0;-webkit-transform: translateX(-50px);}100%{opacity: 1;-webkit-transform: translateX(0);}}
@-moz-keyframes fadein1{0%{opacity: 0;-moz-transform: translateX(-50px);}100%{opacity: 1;-moz-transform: translateX(0);}}
@-o-keyframes fadein1{0%{opacity: 0;-o-transform: translateX(-50px);}100%{opacity: 1;-o-transform: translateX(0);}}
@keyframes fadein1{  0%{opacity: 0;transform: translateX(-50px);}100%{opacity: 1;transform: translateX(0);}}

.fadein3{
  -webkit-animation: fadein3 1.2s both;
  -moz-animation: fadein3 1.2s both;
  -o-animation: fadein3 1.2s both;
  animation: fadein3 1.2s both; 
}

@-webkit-keyframes fadein3{0%{opacity: 0;-webkit-transform: translateX(50px);}100%{opacity: 1;-webkit-transform: translateX(0);}}
@-moz-keyframes fadein3{0%{opacity: 0;-moz-transform: translateX(50px);}100%{opacity: 1;-moz-transform: translateX(0);}}
@-o-keyframes fadein3{0%{opacity: 0;-o-transform: translateX(50px);}100%{opacity: 1;-o-transform: translateX(0);}}
@keyframes fadein3{  0%{opacity: 0;transform: translateX(50px);}100%{opacity: 1;transform: translateX(0);}}
